h1 {
   color: orange;
   text-align: center;
}

.black {
   color: black;
}

.pretty-text {
   color: rgba(120,200,100,.8);
   font-weight: bold;
   font-size: 42px;
}

.rotate180 {
   animation: turn_upside_down 2s linear;
   animation-fill-mode: forwards;

}

@keyframes turn_upside_down {
   from { transform: rotate(0deg); }
   to { transform: rotate(180deg); }
}
